#components-layout-demo-top-side {
    width: 120px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
  }

  .logo {
    width: 66px;
    position: absolute;
    left: 30px;
  
    img {
      width: 100%;
    }
  }